<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../static/icon.ico">
</head>
<body>
    <div class="container">
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="city">What city do you live in?</label>
                <input type="text" name="city"><br>
            </div>
            <button type="submit" class="btn btn-primary">Get results!</button>
        </form>
        {% if weather %}
        <script>
            console.log("Made with lots of 💖 by superhenryman!");
        </script>
        <div class="mt-4">
            <p>The condition is currently {{ condition.lower() }}</p>
            <ul>
                {% for key, value in weather.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>